.anime-card {
  flex: 1 1 300px;
  animation-duration: 1s;
  animation-name: slidein;
  animation-timing-function: ease-in-out;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}