.nav-bar {
  background-color: #386150;
  position: sticky;
  width: 100%;
  top: 0;
  margin-bottom: 20px;
  z-index: 1;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav-item {
  flex: 0 1 25%;
  text-align: center;
  padding: 10px 0;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-item:hover {
  background-color: #58b09c;
}

.sign-out {
  margin-left: auto;
}

.logged-in {
  margin: 0 1rem;
}